@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  src: url(fonts/Inter-UI-Regular.woff2) format('woff2'),
    url(fonts/Inter-UI-Regular.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 400;
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  src: url(fonts/Inter-UI-Italic.woff2) format('woff2'),
    url(fonts/Inter-UI-Italic.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 600;
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  src: url(fonts/Inter-UI-Medium.woff2) format('woff2'),
    url(fonts/Inter-UI-Medium.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 600;
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  src: url(fonts/Inter-UI-MediumItalic.woff2) format('woff2'),
    url(fonts/Inter-UI-MediumItalic.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 800;
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  src: url(fonts/Inter-UI-Bold.woff2) format('woff2'),
    url(fonts/Inter-UI-Bold.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 800;
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  src: url(fonts/Inter-UI-BoldItalic.woff2) format('woff2'),
    url(fonts/Inter-UI-BoldItalic.woff) format('woff');
  font-display: swap;
}

:root {
  --light-green: #78d40f;
  --pale-green: #64A353;
  --pale-light-green: #82a579ea;
  --dark-green: #008000;
  --frame-bg-color: #FAFAFA;
  --frame-box-shadow-start: #00000033;
  --frame-box-shadow-end: #00000030;
  --button-shadow-start: #00000033;
  --button-shadow-mid: #00000024;
  --button-shadow-end: #00000030;
  --button-shadow-end-activated: #0000001f;
}

body {
  font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
}

body.dark-theme {
  --background: #090c15;
  --background-secondary: #041628;
  --header: #0d111d;
  --color: #cbd4d9;
  --color-secondary: #627d98;
  --border-color: #6e7b83;
  --frame-bg-color: #0d111d;
  --frame-box-shadow-start: #FFFFFF33;
  --frame-box-shadow-end: #FFFFFF30;
  --button-shadow-start: #FFFFFF33;
  --button-shadow-mid: #FFFFFF24;
  --button-shadow-end: #FFFFFF30;
  --button-shadow-end-activated: #FFFFFF1f;
}

.logo__cursor {
  background-color: var(--light-green);
}

.index-content.framed {
  font-size: 0.9rem;
  line-height: 1rem;
  width: 800px;
  background-color: var(--frame-bg-color);
  border: none;
  box-shadow: 0 4px 8px 0 var(--frame-box-shadow-start), 0 6px 20px 0 var(--frame-box-shadow-end);
}

.post-cover {
  margin: 40px 0;
  width: 100%;
  max-width: 100%;
}

.post-meta {
  color: #9EABB3;
}

.post-tags {
  color: var(--dark-green);
}

.dark-theme .post-tags {
  color: var(--light-green);
}

a.read-more.button {
  color: var(--pale-green);
}

.footer {
  padding-bottom: 20px;
}

.copyright-extended {
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  color:#9EABB3;
}

.copyright-extended__hugo-logo {
  display: inline;
  vertical-align: middle;
}

.know-more {
  color: var(--color);
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 20% 25% auto 25% 20%;
  grid-template-rows: 50px 30px;
  grid-auto-flow: row;
}

.know-more .button {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color);
  max-width: 100%;
}

.know-more--about {
  grid-column-start: 2;
}

.know-more--projects {
  grid-column-start: 4;
}

.know-more--projects.button {
  grid-row-start: 1;
}

.button {
  box-shadow: 0 1px 4px 0 var(--button-shadow-start), 0 1.2px 5px 0 var(--button-shadow-end);
  transition: background-color .4s;
}

.button:hover, .button:focus {
  background-color: var(--pale-green);
  color: #FAFAFA;
  box-shadow: 0 2px 4px -1px var(--button-shadow-start), 0 4px 5px 0 var(--button-shadow-mid), 0 1px 10px 0 var(--button-shadow-end-activated);
}

.button:hover::before {
  opacity: 0.08;
}

.button:focus::before {
  opacity: 0.24;
}

.button:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.button:active {
  box-shadow: 0 5px 5px -3px var(--button-shadow-start), 0 8px 10px 1px var(--button-shadow-mid), 0 3px 14px 2px var(--button-shadow-end-activated);
}

.button:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

.job-status-card {
  font-size: medium;
  background-color: var(--background-secondary);
  border-radius: 1rem;
  padding: 20px;
  margin: 40px 20px 20px;
}

.job-status-card__title {
  font-size: 1.325rem;
  font-weight: bold;
  text-transform: uppercase;
}

.job-status-card .company-logo {
  height: 28px;
  display: inline;
  vertical-align: middle;
}

.social-networks__list {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: 0 auto;
}

.social-networks__item {
  list-style: none;
}

.social-networks__logo {
  height: 24px;
  vertical-align: middle;
  display: inline;
}