<ul class="social-networks__list">
  <li class="social-networks__item">
    <a href={{ .Site.Params.githubLink }}>
      <img class="social-networks__logo" src="/img/logos/github-mark.svg" alt="Emilio's Github Account" />
    </a>
  </li>
  <li class="social-networks__item">
    <a href={{ .Site.Params.linkedinLink }}>
      <img class="social-networks__logo" src="/img/logos/linkedin.svg" alt="Emilio's Linkedin Account" />
    </a>
  </li>
  <li class="social-networks__item">
    <a href={{ .Site.Params.twitterLink }}>
      <img class="social-networks__logo" src="/img/logos/twitter.svg" alt="Emilio's Twitter Account" />
    </a>
  </li>
</ul>

